*{
    margin: 0;
    padding: 0;
}

html {
    front-family: 'Segoe UI'
    front-size: 14pt;
}

body{
    min-height: 100vh;
    background-color: rgb(15, 15, 15);
}

header{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap-reverse;
}

header .container{
    width: 850px;
    max-width: 100% ;
}

#Überschrift{
    margin-top: 200px;
    font-size: 4rem;
}

#Schrift{
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 300;
}

header p{
    color: rgb(255, 255, 255);
}

header .read-more{
    display: inline-block;
    background-color: darkred;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 1000px;
    padding: .5em 1.25em;

    transition: 200ms ease;
    cursor: pointer;
}

header .read-more:hover{
    background-color:rgb(25, 25, 25)
}
header img{
    height: 70vh;
}

h1 {
    color: rgb(255, 255, 255);
}

.skill{
    color: white;
}

#skill-section{
    padding: 80px 20px 150px 20px;
    background-color:black
}

#Überschrift2{
    font-size: 3rem;
    text-align: center; 
}

#skill-section .wrapper{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap:    50px;
    flex-wrap: wrap;
}

.skill-container{
    width: 400px;
    max-width: 100%;
    border: 10px solid;
    border-color: rgb(15,15,15);
    border-top: none;
}

#Überschrift3{
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    background-color:rgb(15, 15, 15) 
}

#Logo{
    width:350px;
    height: 350px;
    float: left;
}