body , html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    background-image: url(über_dem_nebelmeer.jpg);
    /* background-size: cover; */
    background-repeat: no-repeat;
}

 /* The animation code */
 @keyframes example {
    from {opacity:0;}
    to {opacity: 100;}
  }
  
  /* The element to apply the animation to */
#animation {
    color: white;
    animation-name: example;
    animation-duration: 20s;
  } 