 html , body {
    background-image: url(beautiful-pixel-art-image-medieval-town-town-is-surrounded-by-wall-has-large-castle-background_36682-184789.png);
    padding: 0%;
    margin: 0%;
    background-repeat: no-repeat;
    background-size: cover;
 }